@import "../../../assets/variables.scss";

.navbar {
  background-color: #ffffff;
  margin-left: $sidebarWidth;
  width: calc(100% - #{$sidebarWidth});
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: $leftSpacer;
}
