@import '../../../assets/variables';

.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: $sidebarBackground;
  width: $sidebarWidth;
  box-shadow: $sidebarBoxShadow;
  z-index: 9;
  padding-top: 35px;
}
