@import '../../../assets/variables.scss';
.content {
  width: calc(100% - #{$sidebarWidth});
  margin-left: $sidebarWidth;
  padding: 50px 50px;
  background-color: $contentBackground;
  height: auto;
}
