.chat-header {
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  display: flex;
  align-items: center;

  .options {
    margin-left: 10px;
    cursor: pointer;
  }
}
.settings {
  background-color: #ffffff;
  position: relative;
  padding: 10px 20px;
  margin-bottom: 40px;

  div {
    cursor: pointer;
    text-decoration: underline;
  }
}
