em-emoji-picker {
  position: absolute;
  right: 0;
  max-height: 40vh;
}

.input-container {
  position: relative;
  padding-top: 10px;
  margin-bottom: 50px;
  input {
    background-color: #ffffff;
    width: 100%;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: none;
    font-size: 1em;
  }

  .button-inline-block.button-emoji {
    position: absolute;
    right: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: transparent;
  }

  .button-file {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 20px;
    background-color: transparent;
    font-size: 1em;
    color: #2c3e50;
    top: 16px;
  }

  input[type="file"] {
    display: none;
  }
}

.message-notification {
  position: fixed;
  bottom: 20px;
  right: 20px;

  svg {
    color: #80ed99;
    font-size: 2rem;
  }
}
