@import "./assets/typography.scss";
@import "./assets/all.scss";
@import "primereact/resources/themes/fluent-light/theme.css";

//core
@import "primereact/resources/primereact.min.css";

@import "primeflex/primeflex.scss";
* {
  box-sizing: border-box;
}

body,
html,
#root {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}
