@import "../../../assets/variables.scss";
.main-auth {
  height: 100vh;
  background-color: $authMainBackground;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
