.form-auth {
  width: 350px;
  text-align: center;
  margin: 10px auto;

  .form-heading {
    margin-bottom: 30px;
    color: white;
  }

  input {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 10px auto;
  }

  button {
    display: block;
    background-color: #79aadb;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 15px 10px;
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }
}
.links-auth {
  p,
  a {
    color: white;
  }

  a {
    padding-left: 10px;
  }
}

.message-auth {
  color: white;
  display: block;
  padding-left: 10px;
}
