.form-auth {
  width: 350px;
  text-align: center;
  margin: 10px auto;

  .form-heading {
    margin-bottom: 30px;
    color: white;
  }

  input {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 10px auto;
  }
}
.links-auth {
  p,
  a {
    color: white;
  }

  a {
    padding-left: 10px;
  }
}
